USE [TTPL_FILE_DOCUMENT_SERVICE]
GO
/****** Object:  StoredProcedure [dbo].[PR_FILE_UPLOAD]    Script Date: 17-07-2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PR_FILE_UPLOAD]
(
    @ENTITYCODE      NVARCHAR(50),
    @COMPANYCODE     NVARCHAR(50),
    @BRANCHCODE      NVARCHAR(50),
    @APP_CODE         NVARCHAR(50),
    @MODULETYPE      NVARCHAR(50),
    @MODULEREFID    NVARCHAR(50),
    @FOLDERPATH      NVARCHAR(500) = NULL,
    @STORAGEKEY      NVARCHAR(1000),
    @FILENAME        NVARCHAR(255),
    @FILESIZE        BIGINT,
    @MIMETYPE        NVARCHAR(100),
    @UPLOADEDBY      NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE @FILEUUID UNIQUEIDENTIFIER = NEWID();
        INSERT INTO FILE_AND_DOC_STORAGE
        (
            ENTITYCODE,
            COMPANYCODE,
            BRANCHCODE,
            APP_CODE,
            MODULETYPE,
            MODULEREFID,
            FOLDERPATH,
            STORAGEKEY,
            FILENAME,
            FILESIZE,
            MIMETYPE,
            UPLOADEDBY,
            FILEUUID,
            UPLOADEDAT
        )
        VALUES
        (
            @ENTITYCODE,
            @COMPANYCODE,
            @BRANCHCODE,
            @APP_CODE,
            @MODULETYPE,
            @MODULEREFID,
            @FOLDERPATH,
            @STORAGEKEY,
            @FILENAME,
            @FILESIZE,
            @MIMETYPE,
            @UPLOADEDBY,
            @FILEUUID,
            GETDATE()
        );

        DECLARE @FILE_ID BIGINT = SCOPE_IDENTITY();

        SELECT 
            @FILE_ID   AS FILE_ID,
            @FILEUUID AS FILEUUID,
            'SUCCESS'  AS MESSAGE;

    END TRY
    BEGIN CATCH
        SELECT
            NULL AS FILE_ID,
            NULL AS FILEUUID,
            ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[PR_GET_FILE_BY_UUID]    Script Date: 17-07-2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PR_GET_FILE_BY_UUID]
(
    @FILEUUID UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            FILE_ID,
            ENTITYCODE,
            COMPANYCODE,
            BRANCHCODE,
            APP_CODE,
            MODULETYPE,
            MODULEREFID,
            FOLDERPATH,
            STORAGEKEY,
            FILENAME,
            FILESIZE,
            MIMETYPE,
            UPLOADEDBY,
            UPLOADEDAT,
            STATUS
        FROM FILE_AND_DOC_STORAGE
        WHERE FILEUUID = @FILEUUID
          AND STATUS = 'ACTIVE';
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[PR_GET_FILES_LIST]    Script Date: 17-07-2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PR_GET_FILES_LIST]
(
    @ENTITYCODE   NVARCHAR(50) = NULL,
    @COMPANYCODE  NVARCHAR(50) = NULL,
    @BRANCHCODE   NVARCHAR(50) = NULL,
    @APP_CODE      NVARCHAR(50) = NULL,
    @MODULETYPE   NVARCHAR(50) = NULL,
    @MODULEREFID NVARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        FILEUUID,
        FILENAME,
        FILESIZE,
        MIMETYPE,
        UPLOADEDBY,
        UPLOADEDAT,
        MODULETYPE,
        MODULEREFID
    FROM FILE_AND_DOC_STORAGE
    WHERE STATUS = 'ACTIVE'
      AND (@ENTITYCODE   IS NULL OR ENTITYCODE   = @ENTITYCODE)
      AND (@COMPANYCODE  IS NULL OR COMPANYCODE  = @COMPANYCODE)
      AND (@BRANCHCODE   IS NULL OR BRANCHCODE   = @BRANCHCODE)
      AND (@APP_CODE      IS NULL OR APP_CODE      = @APP_CODE)
      AND (@MODULETYPE   IS NULL OR MODULETYPE   = @MODULETYPE)
      AND (@MODULEREFID IS NULL OR MODULEREFID = @MODULEREFID)
    ORDER BY UPLOADEDAT DESC;
END
GO
