USE [TTPL_FILE_DOCUMENT_SERVICE]
GO
/****** Object:  Table [dbo].[FILE_AND_DOC_STORAGE]    Script Date: 17-07-2026 15:18:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_AND_DOC_STORAGE](
	[FILE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ENTITYCODE] [nvarchar](50) NOT NULL,
	[COMPANYCODE] [nvarchar](50) NOT NULL,
	[BRANCHCODE] [nvarchar](50) NOT NULL,
	[APP_CODE] [nvarchar](50) NOT NULL,
	[MODULETYPE] [nvarchar](50) NOT NULL,
	[MODULEREFID] [nvarchar](50) NOT NULL,
	[FOLDERPATH] [nvarchar](500) NULL,
	[STORAGEKEY] [nvarchar](1000) NOT NULL,
	[FILEUUID] [uniqueidentifier] NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
	[FILESIZE] [bigint] NOT NULL,
	[MIMETYPE] [nvarchar](100) NOT NULL,
	[UPLOADEDBY] [nvarchar](50) NOT NULL,
	[UPLOADEDAT] [datetime] NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FILE_AND_DOC_STORAGE] ADD  CONSTRAINT [DF_FILE_AND_DOC_STORAGE_FILEUUID]  DEFAULT (newid()) FOR [FILEUUID]
GO
ALTER TABLE [dbo].[FILE_AND_DOC_STORAGE] ADD  DEFAULT (getdate()) FOR [UPLOADEDAT]
GO
ALTER TABLE [dbo].[FILE_AND_DOC_STORAGE] ADD  DEFAULT ('ACTIVE') FOR [STATUS]
GO
